
<!doctype html>
<html lang="en">
    <head>
        <title>Timestamp microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                The Timestamp microservice
            </h1>
            <h3>Example usage:</h3>
            <code><a href="https://timestamp-microservice-fcc-one.glitch.me/December%2015,%202015" style="text-decoration:none; color:#c7254e;" target="new">https://timestamp-microservice-fcc-one.glitch.me/December%2015,%202015</a></code><br>
            <code><a href="https://timestamp-microservice-fcc-one.glitch.me/1450137600" style="text-decoration:none; color:#c7254e;" target="new">https://timestamp-microservice-fcc-one.glitch.me/1450137600</a></code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1450137600,
                  "natural": "December 15, 2015"
                }
            </code>
        </div>
    </body>
</html>